.boxed-view {
  background-color: $boxed-view-overlay-bg;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.boxed-view__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //   align-items: center;
  //   border: 1px solid red;
}
