.button {
  border: none;
  //   width: 12rem;
  background: $button-bg;
  padding: $input-padding;
  margin-bottom: $spacing;
  color: $button-color;
  cursor: pointer;
  text-transform: uppercase;
  font-size: $base-font-size;
  line-height: 1.2;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  border: 1px solid $button-pill-color;
  background: transparent;
  color: $button-pill-color;
  padding: 0.3rem 0.8rem;
  margin: 0 ($spacing/2) 0 0;
}

.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border;

  color: $button-secondary-color;
}

.button--secondary--link {
  border: none;
  padding: 0px;
  margin: 0px;
  background: transparent;
  text-decoration: underline;
  text-transform: initial;
}
